Sidebar {
  background-color: red;
}

.banner {
  background-color: #141452;
  color: white;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  padding: 10px;
}

.link {
  text-align: center;
}
