.divStyle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
}

@media (min-width: 800px) {
  .divStyle {
    background-size: cover;
    height: 50vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
  }
}

@media (max-width: 800px) {
  .divStyle {
    background-size: cover;
    height: 50vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
  }
}

@media (max-width: 500px) {
  .divStyle {
    background-size: contain;
    height: 30vh;
    width: 100%;
  }
}

.panStyle {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 20px;
  background: white;
  color: #000000;
  border-radius: 10px;
}

.pictureNumber {
  position: absolute;
  top: 5%;
  left: 2%;
  background-color: white;
  color: black;
  height: 30px;
  width: 30px;
  border: solid;
  border-radius: 45px;
}
