.profil-page {
  margin: 10px;
}

.profil-button {
  text-align: right;
}

.score-list {
  display: inline-block;
  list-style-type: none;
  max-height: 60vh;
  overflow-y: scroll;
}

.personnal-score {
  background-color: #c8c8c8;
  border-radius: 20px;
  border-color: black;
  border: solid;
  margin: 10px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.2s
}

.personnal-score:hover {
  background-color: rgb(94, 94, 207);
  transform: scale(1.05);
  cursor: pointer;
}

.score-and-details {
  display: flex;
  justify-content: center;
}

.score-list::-webkit-scrollbar {
  width: 10px;

}

.score-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(111, 101, 101);
  border: 1px solid #000;
}

.score-list::-webkit-scrollbar-track {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2px 0;
  background-color: #4c6761;
}

@media (max-width: 1000px) {
  .score-and-details {
    display: grid;
  }
}
