.quiz-page {
  text-align: center;
  padding: 20px;
}

.quiz {
  margin-top: 20px;
}

.answer {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer li {
  margin: 5px;
}
