
.quiz-page {
  text-align: center;
  margin: 10px;
}

.profil-button {
  text-align: left;
}

.quiz {
  margin-top: 20px;

}

.answer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer li {
  margin: 5px;
}

.rectangles div {
  background-color: #769E96;
  width: 40px;
  height: 15px;
  border: 1px solid #769E96;
}

.rectangles .correct {
  background-color: green;
  border: 1px solid black;
}

.rectangles .false {
  background-color: red;
  border: 1px solid black;
}
