.quiz-page {
  text-align: center;
  padding: 20px;
}

.quiz {
  margin-top: 20px;
}

.answer {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer li {
  margin: 5px;
}

.rectangles {
  display: flex;
}

.rectangles div {
  background-color: lightgrey;
  width: 20%;
  height: 15px;
  border: 1px solid black;
}

.rectangles .correct {
  background-color: green;
}

.rectangles .false {
  background-color: red;
}
